footer {
    background-color: #e4e2dd;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer h3 {
    font-size: 15px;
    margin: 10px 0;
}

.sobreNoteTech {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sobreNoteTech h3 {
    font-size: 15px;
}

.sobreNoteTech a {
    font-size: 12px;
}

.pagamento {
    width: 150px;
}

.pagamento img {
    width: 50px;
}

.redesSociaisFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redesSociaisFooter img {
    width: 20px;
    margin-bottom: 5px;
}

.p {
    text-align: center;
    padding: 15px 0;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .pagamento img,
    .redesSociaisFooter img {
        margin: 0 5px;
    }
}