/* Parte de cima do Header */

header {
    background-color: #e4e2dd;
}

.container {
    max-width: 960px;
    margin: auto;
    flex-wrap: wrap;
}

.headerCima {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.headerTop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30px;
    padding-top: 10px;
}

.headerTop span {
    background-color: #33323271;
    width: 1px;
    height: 13px;
    margin-right: 5px;
    display: inline-block;
}

.link {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
}

.link:hover {
    color: #0077cc;
    text-decoration: none;
}

.redesSociais {
    width: 20px;
    margin: 0 10px;
}

.redesSociais:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.login {
    text-decoration: none;
    color: #000;
    margin-right: 5px;
    flex-wrap: wrap;
}

/* Parte de baixo do Header */

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#logo {
    max-width: 150px;
}

.inputButton {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.inputButton input {
    width: 300px;
    height: 25px;
    border: none;
    outline: none;
    flex-wrap: wrap;
}

.inputButton button {
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #0077cc;
    color: #fff;
    padding: 0 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.inputButton button:hover {
    background-color: #005fa3;
    cursor: pointer;
}

.carrinho {
    width: 25px;
}

@media (max-width: 570px) {
    .headerTop {
        margin-left: 5px;
        justify-content: center;
    }

    .inputButton input {
        max-width: 180px;
        margin-bottom: 5px;
    }

    .pesquisa {
        flex-direction: column;
        gap: 10px;
    }

    #logo {
        max-width: 100px;
    }
}

@media (max-width: 406px) {
    .headerCima {
        display: flex;
        justify-content: center;
    }
}